/* App.css */
.app-container {
  padding: 20px;
}

.food-item {
  margin-bottom: 20px;
}

.food-name {
  font-weight: bold;
}

.food-description {
  margin-top: 5px;
}

mark {
  background-color: yellow;
}