/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.food-item {
  margin-top: 10px;
}

mark {
  background-color: yellow;
  font-weight: bold;
}