/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.food-item {
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.food-name {
  font-weight: bold;
}

.food-description {
  margin-top: 5px;
}

input[type="text"] {
  margin-bottom: 20px;
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
}